/*body {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Arial, Helvetica, sans-serif;
  background-color:rgb(17, 17, 24);
}

.container {
  width: 58%;
  height: 80vh;
  display: flex;
 
}

.form {
  width: 100%;
  border: 5px;
  border-color: rgb(253, 33, 183);
  border-radius: 10px;
  border-style:solid; 
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: rgb(255, 206, 244);;
  padding: 3rem;
}

.form-header {
  margin-bottom: 3rem;
  display: flex;
  justify-content: space-between;
}

.login-button {
  display: flex;
  align-items: center;
}

.login-button button {
  border: none;
  background-color: rgb(255, 0, 212);
  padding: 0.4rem 1rem;
  border-radius: 5px;
  cursor: pointer;
}

.login-button button:hover {
  background-color: #D431D4;
}

.login-button button a {
text-decoration: none;
font-size: 15px;
color: rgb(255, 255, 255);;
}

.input-group {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 1rem 0;
}

.input-box {
  display: flex;
  flex-direction: column;
  margin-bottom: 1.1rem;
}

.input-box input {
  margin: 0.6rem 0;
  padding: 0.8rem 1.2rem;
  border: none;
  border-radius: 10px;
  box-shadow: 1px 1px 6px #0000001c;
}

.input-box input:hover {
  background-color: #eeeeee75;
}

.input-box input:focus-visible {
  outline: 1px solid rgb(255, 0, 212);
}*/

body{
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: Arial, Helvetica, sans-serif;
  background-color:rgb(17, 17, 24);
}

.container-cadastro {
    background-color: rgb(255, 206, 244);
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 30px 40px;
    border: 5px solid rgb(253, 33, 183);
    border-radius: 10px;
    border-style: solid;
    color:rgb(0, 0, 0);
    gap: 20px;
}

#name,#username,#data,#email,#RG {
    height: 45px;
    border: none;
    border-radius: 10px;
    outline: none;
    font-size: 15px;
    box-shadow: 1px 1px 6px #0000001c;
    padding-left: 10px; 
}

#name,#username,#data,#email,#RG {
  width: 190px;
}

#name:hover, #username:hover, #data:hover, #RG:hover{
  background-color: #f8e9f6;
}

#email {
  width: 400px;
}

#email:hover{
   background-color: #f8e9f6;
}

.container-cadastro .coluna {
  display: flex;
  gap: 10px;

}

.container-cadastro button {
  background-color: rgb(255, 0, 212);
    height: 40px;
    border: none;
    border-radius: 10px;
    outline: none;
    cursor: pointer;
    box-shadow: 1px 1px 6px #0000001c;
    font-size: 15px;
}

.container-cadastro button a{
  color: white;
    text-decoration: none;
}

.container-cadastro button:hover {
  background-color: #D431D4;
}
